@import "variables";

button, input[type="button"], a {
  &.btn {
    font: {
      size: 0.85em;
      family: $sige-font-family-07;
    }
    border-radius: 2px;
    border: inherit;
    color: white;
    padding: 10px 5px;
    width: 130px;
    display: block;
    line-height: 15px;
    vertical-align: middle;
    text-align: center;
    &.generate {
      background-color: $sige-global-bgcolor-08;
      color: $sige-global-color-10;
    }
    &.generated {
      background-color: $sige-global-bgcolor-10;
      color: $sige-global-color-09;
    }

    &.enabled {
      background-color: $sige-global-bgcolor-08;
      color: $sige-global-color-10;
    }
    &.disabled {
      background-color: $sige-global-bgcolor-10;
      color: $sige-global-color-09;
    }
  }
}