.sige-evaluations-lists {
  position: relative;
  margin-top: 40px;
}

.sige-evaluations-lists .search-container {
  float: right;
  margin-top: 10px;
  width: 50%;
}

.sige-evaluations-lists .search-container span {
  margin-bottom: 5px;
  margin-right: 2px;
  font-family: "Gotham Rounded Bold", Helvetica Neue, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #8d9aa5;
}

.sige-evaluations-lists .search-container #search {
  position: relative;
}

.sige-evaluations-lists .search-container #search div.search > input {
  padding: 7px;
  width: 100%;
}

.sige-evaluations-lists .search-container #search div.search i {
  position: absolute;
  width: 40px;
  right: 0px;
  text-align: center;
  background: #f5f5f5 -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6)) repeat-x;
  background: #f5f5f5 linear-gradient(to bottom, #fff, #e6e6e6) repeat-x;
  border-width: 1px;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  height: 35px;
  line-height: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sige-evaluations-lists .search-container #search div.container {
  width: 100%;
  font-size: 0.9em;
}

.sige-evaluations-lists .search-container #search div.container ul.search-options {
  border-bottom: 1px solid #eee;
  line-height: 50px;
}

.sige-evaluations-lists .search-container #search div.container ul.search-options li.title {
  line-height: 50px;
}

.sige-evaluations-lists .search-container #search div.container ul.search-options li.text > input {
  background: white;
  border-radius: 3px;
  border: 1px solid #C7CCD1;
  padding: 6px;
  font-size: 0.95em;
}

.sige-evaluations-lists .search-container li#views {
  position: relative;
  top: 5px;
}

.sige-evaluations-lists .search-container li#views > input[type="radio"] + label {
  width: 40px;
  padding: 2px 0px;
}

.sige-evaluations-lists .search-container #order {
  padding: 6px;
  width: 95%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.sige-evaluations-lists .search-container li#reverse {
  position: relative;
  top: 5px;
  text-align: right;
}

.sige-evaluations-lists .search-container li#reverse > input[type="radio"] + label {
  width: 30px;
  padding: 2px 0px;
}

.evaluation-list {
  padding-top: 20px;
  font-size: 1em;
}

.evaluation-list ul#evaluation-list li {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.evaluation-list ul#evaluation-list li > ul.evaluation {
  border-bottom: 1px solid #eee;
  padding: 10px 0px;
}

.evaluation-list ul#evaluation-list li > ul.evaluation li {
  font-family: "Gotham Rounded Book", Helvetica Neue, Helvetica, sans-serif;
  font-size: 0.9em;
  letter-spacing: -1px;
}

.evaluation-list ul#evaluation-list li > ul.evaluation li.select {
  line-height: 80px;
}

.evaluation-list ul#evaluation-list li > ul.evaluation li.photo {
  padding: 10px;
  margin-top: 5px;
}

.evaluation-list ul#evaluation-list li > ul.evaluation li.photo > div {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 3px;
  background-color: #53bbb4;
}

.evaluation-list ul#evaluation-list li > ul.evaluation li.photo > div > img {
  border-radius: 50%;
}

.evaluation-list ul#evaluation-list li > ul.evaluation li.week {
  line-height: 80px;
  color: #8d9aa5;
}

.evaluation-list ul#evaluation-list li > ul.evaluation li.comment > p {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  white-space: pre-wrap;
}

.evaluation-list ul#evaluation-list li > ul.evaluation li.edit {
  line-height: 60px;
  text-align: right;
}

.evaluation-list ul#evaluation-list li > ul.evaluation li.edit a {
  width: 150px;
  padding: 8px 18px;
  background-color: #E6E6E6 !important;
  border-radius: 3px;
  color: #657380;
}

.evaluation-list ul#evaluation-list li > ul.evaluation li.delete {
  line-height: 60px;
  text-align: right;
}

.evaluation-list ul#evaluation-list li > ul.evaluation li.delete form {
  padding: 0px;
  margin: 0px;
}

.evaluation-list ul#evaluation-list li > ul.evaluation li.delete form > button {
  cursor: pointer;
  width: inherit;
  padding: 6px 22px;
  border: 1px solid #eee;
  border-radius: 3px;
  color: #657380;
  font-family: "Gotham Rounded Book", Helvetica Neue, Helvetica, sans-serif;
  font-size: 0.95em;
}

.sige-evaluation-new > form > fieldset > ul {
  border-bottom: 1px solid #eee;
}

.sige-evaluation-new > form > fieldset > ul > li textarea {
  height: 180px;
  border: none;
  background: transparent !important;
}

.sige-evaluation-new > form > fieldset > ul > li.photo {
  padding: 10px;
  margin-top: 5px;
}

.sige-evaluation-new > form > fieldset > ul > li.photo > div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 3px;
  background-color: #53bbb4;
}

.sige-evaluation-new > form > fieldset > ul > li.photo > div > img {
  border-radius: 50%;
}

.sige-evaluation-new > form > .submit > input[type="submit"] {
  width: 120px;
  border-radius: 5px;
}

@media screen and (max-width: 1100px) {
  .sige-evaluations-lists .search-container {
    width: 80%;
  }
}

@media screen and (max-width: 850px) {
  .sige-evaluations-lists .search-container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .sige-evaluations-lists .search-container {
    width: 80%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.comment {
    width: 50%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.edit {
    width: 15%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.delete {
    width: 15%;
  }
}

@media screen and (max-width: 480px) {
  .sige-evaluations-lists .search-container {
    width: 100%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 50%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(3) #order {
    width: 100%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 50%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.select {
    display: none;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 50%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.week {
    line-height: 40px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.week > span:before {
    content: "Week: ";
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.comment {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: 100%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.edit {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 25%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.delete {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 25%;
  }
}

@media screen and (max-width: 360px) {
  .sige-evaluations-lists .search-container {
    width: 100%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 50%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(3) #order {
    width: 100%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 50%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.select {
    display: none;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 20%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.week {
    line-height: 40px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.week > span:before {
    content: "Week: ";
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.comment {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: 100%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.edit {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 30%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.delete {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 30%;
  }
}

@media screen and (max-width: 359px) {
  .sige-evaluations-lists .search-container {
    width: 100%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 50%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(3) #order {
    width: 100%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 50%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.select {
    display: none;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 20%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.week {
    line-height: 40px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.week > span:before {
    content: "Week: ";
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.comment {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: 100%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.edit {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 30%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.delete {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 30%;
  }
}

@media screen and (max-width: 320px) {
  .sige-evaluations-lists .search-container {
    width: 100%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 50%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(3) #order {
    width: 100%;
  }

  .sige-evaluations-lists .search-container > ul > li:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 50%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.select {
    display: none;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 20%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.week {
    line-height: 40px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.week > span:before {
    content: "Week: ";
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.comment {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: 100%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.edit {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 30%;
  }

  .evaluation-list ul#evaluation-list li > ul.evaluation li.delete {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 30%;
  }
}

