.sige-dashboard-main {
  margin-top: 15px;
}

.sige-dashboard-main a {
  font-size: 0.9em;
  color: #53BBB4;
}

.sige-dashboard-attendances .students {
  font-size: 0.9em;
}

.sige-dashboard-attendances .students .student {
  height: 50px;
  border-bottom: 1px solid #eee;
}

.sige-dashboard-attendances .students .student .photo {
  padding: 5px;
  margin-top: 0px;
}

.sige-dashboard-attendances .students .student .photo > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 3px;
  background-color: #53bbb4;
}

.sige-dashboard-attendances .students .student .photo > div > img {
  border-radius: 50%;
}

.sige-dashboard-attendances .students .student .subject {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 15px;
}

