.status-photo-1 {
  background: #45AFA8;
}

.status-photo-4 {
  background: #da4453;
}

.status-photo-6 {
  background: #4fc1e9;
}

.status-list-1 {
  border-radius: 5px;
}

.status-list-4 {
  background: #da4453;
  border-radius: 10px;
  color: white;
}

.sige-financials-student {
  padding: 20px 10px;
  font-size: 0.9em;
}

.sige-financials-transactions {
  font-size: 12px !important;
  color: #8d9aa5;
}

.sige-financials-transactions header {
  text-align: left;
  position: relative;
}

.sige-financials-transactions header > .close {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 1.6em;
}

.sige-financials-transactions .payments {
  padding: 5px;
}

.sige-financials-transactions .payments > div.payment-title {
  line-height: 40px;
  position: relative;
}

.sige-financials-transactions .payments > div.payment-title > span {
  padding: 5px;
  display: block;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.sige-financials-transactions .payments > div.payment-title > i {
  position: absolute;
  right: 20px;
  top: 20px;
}

.sige-financials-transactions .payments > .transactions > .exports {
  width: 500px;
  float: right;
  margin-bottom: 15px;
}

.sige-financials-transactions .payments > .transactions .transaction-titles > ul > li {
  font-size: 0.95em;
  text-align: center;
}

.sige-financials-transactions .payments > .transactions .transaction-edit {
  border-bottom: 1px solid #eee;
}

.sige-financials-transactions .payments > .transactions .transaction-edit input {
  font-size: 1em;
  padding: 12px 8px;
}

.sige-financials-transactions .payments > .transactions .transaction-edit i {
  font-size: 1.6em;
  padding-top: 10px;
}

.sige-financials-transactions .payments > .transactions .transaction-edit button {
  width: 100%;
  padding: 10px;
}

.sige-financials-transactions .payments > .transactions .transaction-edit .photo {
  padding: 8px;
}

.sige-financials-transactions .payments > .transactions .transaction-edit .photo > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 3px;
  background-color: #53bbb4;
}

.sige-financials-transactions .payments > .transactions .transaction-edit .photo > div > img {
  border-radius: 50%;
}

.sige-financials-transactions .payments > .transactions .transaction-totals {
  margin-top: 10px;
  height: 45px;
}

.sige-financials-transactions .payments > .transactions .transaction-totals > ul {
  padding: 0px 10px;
  background: #F9FAFA;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  float: right;
  background: rgba(92, 184, 96, 0.1);
}

.sige-financials-transactions .payments > .transactions .transaction-totals > ul li {
  line-height: 45px;
  text-align: center;
  font-size: 1em;
  color: #5a6772;
}

.sige-financials-transactions .payments > .transactions .transaction-totals > ul li > span {
  font-weight: bold;
  color: #5a6772;
}

.sige-financials-transactions .payments > .transactions .transaction-new,
.sige-financials-transactions .payments > .transactions .transaction-edit {
  background: #F9FAFA;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.sige-financials-transactions .payments > .transactions .transaction-new section > ul > li input,
.sige-financials-transactions .payments > .transactions .transaction-edit section > ul > li input {
  font-size: 1em;
  padding: 12px 8px;
}

.sige-financials-transactions .payments > .transactions .transaction-new section > ul > li select,
.sige-financials-transactions .payments > .transactions .transaction-edit section > ul > li select {
  font-size: 1em;
  padding: 12px 8px;
  text-align: center;
}

.sige-financials-transactions .payments > .transactions .transaction-new .type,
.sige-financials-transactions .payments > .transactions .transaction-edit .type {
  text-align: center;
}

.sige-financials-transactions .payments > .transactions .transaction-new .new div,
.sige-financials-transactions .payments > .transactions .transaction-new .delete div,
.sige-financials-transactions .payments > .transactions .transaction-new .edit div,
.sige-financials-transactions .payments > .transactions .transaction-edit .new div,
.sige-financials-transactions .payments > .transactions .transaction-edit .delete div,
.sige-financials-transactions .payments > .transactions .transaction-edit .edit div {
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.sige-financials-transactions .payments > .transactions .transaction-new .new div i,
.sige-financials-transactions .payments > .transactions .transaction-new .delete div i,
.sige-financials-transactions .payments > .transactions .transaction-new .edit div i,
.sige-financials-transactions .payments > .transactions .transaction-edit .new div i,
.sige-financials-transactions .payments > .transactions .transaction-edit .delete div i,
.sige-financials-transactions .payments > .transactions .transaction-edit .edit div i {
  font-size: 1.6em;
  padding-top: 10px;
}

.sige-financials-transactions .payments > .transactions .transaction-new .new div i.empty,
.sige-financials-transactions .payments > .transactions .transaction-new .delete div i.empty,
.sige-financials-transactions .payments > .transactions .transaction-new .edit div i.empty,
.sige-financials-transactions .payments > .transactions .transaction-edit .new div i.empty,
.sige-financials-transactions .payments > .transactions .transaction-edit .delete div i.empty,
.sige-financials-transactions .payments > .transactions .transaction-edit .edit div i.empty {
  display: block;
  width: 15px;
}

.sige-financials-transactions .payments > .transactions .transaction-new .new button,
.sige-financials-transactions .payments > .transactions .transaction-new .delete button,
.sige-financials-transactions .payments > .transactions .transaction-new .edit button,
.sige-financials-transactions .payments > .transactions .transaction-edit .new button,
.sige-financials-transactions .payments > .transactions .transaction-edit .delete button,
.sige-financials-transactions .payments > .transactions .transaction-edit .edit button {
  width: 100%;
  padding: 10px;
}

.sige-financials-transactions .payments > .transactions .transaction-new .photo,
.sige-financials-transactions .payments > .transactions .transaction-edit .photo {
  padding: 8px;
}

.sige-financials-transactions .payments > .transactions .transaction-new .photo > div,
.sige-financials-transactions .payments > .transactions .transaction-edit .photo > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 3px;
  background-color: #53bbb4;
}

.sige-financials-transactions .payments > .transactions .transaction-new .photo > div > img,
.sige-financials-transactions .payments > .transactions .transaction-edit .photo > div > img {
  border-radius: 50%;
}

.sige-financials-payment-register {
  margin-bottom: 20px;
  float: right;
}

.sige-financials-payment-register > a > i {
  font-size: 1.4em;
}

.sige-payments-lists {
  position: relative;
  margin-top: 40px;
}

.sige-payments-lists .search-container {
  float: right;
  margin-top: 10px;
  width: 50%;
}

.sige-payments-lists .search-container span {
  margin-bottom: 5px;
  font-family: "Gotham Rounded Bold", Helvetica Neue, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #8d9aa5;
}

.sige-payments-lists .search-container #search {
  position: relative;
}

.sige-payments-lists .search-container #search div.search > input {
  padding: 7px;
  width: 100%;
}

.sige-payments-lists .search-container #search div.search > span {
  height: 42px;
  border: 2px solid #eee;
  padding: 5px 2px;
  width: 100%;
  display: inline-block;
  border-radius: 5px;
}

.sige-payments-lists .search-container #search div.search i {
  position: absolute;
  width: 40px;
  right: 0px;
  text-align: center;
  background: #f5f5f5;
  border-width: 1px;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  height: 42px;
  line-height: 42px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sige-payments-lists .search-container #search div.container {
  width: 100%;
  font-size: 0.9em;
}

.sige-payments-lists .search-container #search div.container ul.search-options {
  border-bottom: 1px solid #eee;
}

.sige-payments-lists .search-container #search div.container ul.search-options li.title > label {
  position: relative;
  top: 25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.9em;
}

.sige-payments-lists .search-container #search div.container ul.search-options li.text > input {
  background: white;
  border-radius: 3px;
  border: 1px solid #C7CCD1;
  padding: 6px;
  font-size: 1em;
}

.sige-payments-lists .search-container #search div.container ul.search-options li.text > select {
  background: white;
  border-radius: 3px;
  border: 1px solid #C7CCD1;
  padding: 6px;
  text-align: center;
  font-size: 1em;
}

.sige-payments-lists .search-container #search div.container ul.search-options li.text > button {
  width: 100px;
  padding: 8px 12px;
  margin: 0px 0px 10px;
}

.sige-payments-lists .search-container li#views {
  position: relative;
  top: 5px;
}

.sige-payments-lists .search-container li#views > input[type="radio"] + label {
  width: 40px;
  padding: 2px 0px;
}

.sige-payments-lists .search-container #order {
  padding: 6px;
  width: 90%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.sige-payments-lists .search-container li#reverse {
  position: relative;
  top: 5px;
}

.sige-payments-lists .search-container li#reverse > input[type="radio"] + label {
  width: 30px;
  padding: 2px 0px;
}

.receipts-list {
  font-size: 0.9em;
  color: #8d9aa5;
}

.receipt {
  border-bottom: 1px solid #eee;
  font-size: 0.95em;
}

.receipt > .select > input {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.receipt > .photo {
  line-height: normal;
}

.receipt > .photo div {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  margin: 5px auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 2px;
  background-color: #53bbb4;
}

.receipt > .photo div > a > img {
  border-radius: 50%;
}

.receipt > .vouchertype > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0px 10px;
}

.receipt > .document > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  font-family: "Gotham Rounded Book", Helvetica Neue, Helvetica, sans-serif;
}

.receipt > .date > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

.receipt > .pending > div {
  text-align: right;
  margin-right: 10px;
  line-height: initial;
  padding: 20px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.receipt > .receipt-container > a {
  padding: 8px 18px;
  background: #5cb860 !important;
  border-radius: 2px;
  color: #fff;
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.receipt > .receipt > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  cursor: pointer;
  color: #53BBB4;
}

.receipt > .export > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  cursor: pointer;
  color: #da4453;
}

.payment-list {
  font-size: 0.9em;
  color: #8d9aa5;
}

.sige-payments-receipt {
  margin-top: 20px;
  color: #8D9AA5;
  font-size: 0.9em;
}

.sige-payments-receipt > ul.receipt > li.pending div {
  text-align: right;
  margin-right: 10px;
  line-height: initial;
  padding: 20px;
  position: relative;
}

.sige-payments-receipt > ul.receipt > li.receipt a {
  border-radius: 2px;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  width: 40px !important;
}

.payment {
  border-bottom: 1px solid #eee;
  font-size: 0.95em;
}

.payment .select > input {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.payment .photo {
  line-height: normal;
}

.payment .photo div {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  margin: 5px auto;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 3px;
  background-color: #53bbb4;
}

.payment .photo div > a > img {
  border-radius: 50%;
}

.payment .family > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.payment .pending > div {
  text-align: right;
  margin-right: 10px;
  line-height: initial;
  padding: 20px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.payment .receipt a {
  padding: 8px 18px;
  background: #5cb860 !important;
  border-radius: 2px;
  color: #fff;
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.payment-calendar {
  font-size: 12px !important;
  margin: 10px;
}

.payment-calendar > ul > li {
  width: 60px;
  float: right;
  margin-bottom: 5px;
}

.payment-calendar > ul > li.receipt {
  width: 100px;
  float: none;
}

.payment-calendar > ul > li section.is-payment {
  border-radius: 5px;
  line-height: initial;
  text-align: center;
  margin: 0px 2px;
  position: relative;
}

.payment-calendar > ul > li section.is-payment > img {
  width: 55px;
  height: 55px;
}

.payment-calendar > ul > li section.is-payment > span {
  display: block;
}

.payment-calendar > ul > li section.is-payment > span a {
  color: #53BBB4;
}

.payment-calendar > ul > li section.is-payment > span.type {
  font-size: 0.8em;
  color: #8d9aa5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.payment-calendar > ul > li section.is-payment > span.month {
  color: #53BBB4;
}

.payment-calendar > ul > li section.is-payment > em {
  display: none;
}

.payment-calendar > ul > li section.is-payment > em.virtual {
  padding: 2px;
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  content: "V";
  background: #45AFA8;
  border-radius: 50px;
  font-size: 0.8em;
  color: white;
  top: 0px;
  right: 5px;
}

.payment-calendar > ul > li section.is-payment > em.receipt {
  border: none;
  padding: 1px;
  display: block;
  width: 40px;
  height: 13px;
  position: absolute;
  content: "V";
  background: #45AFA8;
  border-radius: 1px;
  font-size: 0.8em;
  font-family: "Gotham Rounded Bold", Helvetica Neue, Helvetica, sans-serif;
  color: white;
  bottom: 38px;
  right: 8px;
}

.payment-calendar > ul > li section.is-payment > em.receipt.blue {
  background: #3f8abf;
}

.payment-calendar .payment-calendar-edit {
  font-size: 1em;
}

.payment-calendar .payment-calendar-edit a {
  color: #53BBB4;
}

.payment-calendar .payment-calendar-edit a.edit {
  text-align: right;
}

.payment-calendar .payment-calendar-edit div {
  padding: 5px;
}

.payment-calendar .payment-calendar-edit .banks {
  text-align: left;
}

.payment-calendar .payment-calendar-edit .banks > select.bank {
  text-align: left;
}

.payment-calendar-horizontal {
  max-height: 140px;
  overflow-y: scroll;
}

.payment-calendar-horizontal section > ul {
  border-bottom: 1px solid #eee;
}

.payment-calendar-horizontal section > ul > li > div {
  line-height: 45px;
  height: 45px;
}

.payment-calendar-horizontal section > ul > li.icon {
  position: relative;
}

.payment-calendar-horizontal section > ul > li.icon > div {
  position: relative;
}

.payment-calendar-horizontal section > ul > li.icon > div > img {
  width: 40px;
}

.payment-calendar-horizontal section > ul > li.icon > div > em {
  line-height: initial;
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 15px;
  height: 15px;
  display: block;
  border-radius: 3px;
  cursor: pointer;
}

.payment-calendar-horizontal section > ul > li.icon > div > em.discount {
  background: #3f8abf;
}

.payment-calendar-horizontal section > ul > li.icon > div > em.normal {
  background: #5cb860;
}

.payment-calendar-horizontal section > ul > li.icon > div > em.expired {
  background: #da4453;
}

.payment-calendar-horizontal section > ul > li.month > div {
  text-align: right;
  margin-right: 5px;
}

.payment-calendar-horizontal section > ul > li.type > div {
  text-align: left;
  margin-right: 5px;
}

.payment-calendar-horizontal section > ul > li.concept > div {
  margin-right: 5px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.payment-calendar-horizontal section > ul > li.value > div {
  padding: 0px 5px;
  text-align: right;
  margin-right: 5px;
  font-size: 1.1em;
}

.payment-calendar-horizontal section > ul > li.value > div input {
  text-align: right;
  font-size: 13px !important;
  padding: 8px 12px !important;
}

.payment-calendar-horizontal section > ul > li.delete > div {
  text-align: center;
  color: #53BBB4;
}

.payment-calendar-horizontal section > section.detail-change-method {
  position: absolute;
  width: 300px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background: white;
  z-index: 2;
  font-size: 0.95em;
}

.payment-calendar-horizontal section > section.detail-change-method > div.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.payment-calendar-horizontal section > section.detail-change-method > ul.detail-change {
  margin-top: 20px;
}

.payment-calendar-horizontal section > section.detail-change-method > ul.detail-change > li > ul {
  line-height: 30px;
  height: 30px;
}

.payment-calendar-horizontal section > section.detail-change-method > ul.detail-change > li > ul > li.value {
  padding: 0px 5px;
  text-align: right;
}

.payment-calendar-horizontal section > section.detail-change-method > ul.detail-change > li > ul > li > em {
  margin-top: 7px;
  width: 15px;
  height: 15px;
  display: block;
  border-radius: 3px;
}

.payment-calendar-horizontal section > section.detail-change-method > ul.detail-change > li > ul > li > em.discount {
  background: #3f8abf;
}

.payment-calendar-horizontal section > section.detail-change-method > ul.detail-change > li > ul > li > em.normal {
  background: #5cb860;
}

.payment-calendar-horizontal section > section.detail-change-method > ul.detail-change > li > ul > li > em.expired {
  background: #da4453;
}

.payment-calendar-horizontal section > section.detail-change-method > ul.detail-change > li > ul > li > a {
  color: #53BBB4;
}

.sige-payments-container {
  position: relative;
  background: #f9fafa;
  padding: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.sige-payments-container > article > header {
  z-index: 1;
}

.sige-payments-container > article > header > h2 {
  padding-top: 20px;
  border-bottom: none;
  text-align: center;
}

.sige-payments-container > article > header > img {
  margin: 0px auto;
  width: 180px;
  display: block;
}

.sige-payments-container > article > section > h2 {
  padding-top: 10px;
  border-bottom: none;
  text-align: center;
  color: #8d9aa5;
  font-size: 2.1em;
}

.sige-payments-container > article > section > h2 > span {
  font-size: 0.6em;
  color: #da4453;
}

.sige-payments-container > article > section p {
  padding: 0px;
  text-align: center;
  font-size: 0.85em;
}

.sige-payments-container > article > section p.observation {
  padding-top: 15px;
}

.sige-payments-container > article > section p.transaction {
  margin: 25px;
  color: #657380;
}

.sige-payments-container > article > section p.transaction > span.A {
  padding: 10px;
  border-radius: 5px;
  background: #5cb860;
  color: white;
  border-bottom: 3px solid #4cae50;
}

.sige-payments-container > article > section p.transaction > span.P {
  padding: 10px;
  border-radius: 5px;
  background: #fc6e51;
  color: white;
  border-bottom: 3px solid #e9573f;
}

.sige-payments-container > article > section p.transaction > span.R {
  padding: 10px;
  border-radius: 5px;
  background: #ed5565;
  color: white;
  border-bottom: 3px solid #da4453;
}

.sige-payments-container > article > section p.message {
  padding: 5px 0px;
  font-size: 0.8em;
}

.sige-payments-container > article > footer {
  position: absolute;
  bottom: 5px;
  min-height: inherit;
  top: inherit;
  width: 100%;
}

.sige-payments-container > article > footer > div {
  height: 40px;
  margin: 10px 20px;
  padding-top: 15px;
  border-top: 1px solid #eee;
  color: #8d9aa5;
  text-align: center;
  font-size: 0.8em;
}

.sige-payments-container .payments-options {
  font-size: 0.9em;
}

.sige-payments-container .payments-options > ul > li {
  text-align: center;
}

.sige-payments-container .payments-options > ul > li > div {
  margin: 0px auto;
  width: 120px;
}

.sige-payments-container .payments-options > ul > li > div img {
  max-width: 100%;
}

.sige-financials-create {
  position: relative;
  background: #f9fafa;
  padding: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.sige-financials-create > article > header {
  z-index: 1;
}

.sige-financials-create > article > header > h2 {
  padding-top: 20px;
  border-bottom: none;
  text-align: center;
}

.sige-financials-create > article > header > img {
  margin: 0px auto;
  width: 180px;
  display: block;
}

.sige-financials-create > article > section > h2 {
  padding-top: 10px;
  border-bottom: none;
  text-align: center;
  color: #8d9aa5;
  font-size: 2.1em;
}

.sige-financials-create > article > section > h2 > span {
  font-size: 0.6em;
  color: #da4453;
}

.sige-financials-create > article > section p {
  padding: 0px;
  text-align: center;
  font-size: 0.85em;
}

.sige-financials-create > article > section p.observation {
  padding-top: 15px;
}

.sige-financials-create > article > section p.transaction {
  margin: 25px;
  color: #657380;
}

.sige-financials-create > article > section p.message {
  padding: 5px 0px;
  font-size: 0.8em;
}

.sige-financials-create > article > section section.options {
  margin: 0px auto;
  text-align: center;
  color: #8d9aa5;
  width: 70%;
  font-size: 0.9em;
}

.sige-financials-create > article > section section.options > .option-container {
  width: 80%;
  margin: 0px auto;
}

.sige-financials-create > article > section section.options > .option-container > li > a {
  text-align: center;
  display: inline-block;
  height: 200px;
  width: 200px;
}

.sige-financials-create > article > section section.options > .option-container > li > a span {
  margin-top: -15px;
  display: block;
  font-size: 0.9em;
}

.sige-financials-create > article > footer {
  bottom: 5px;
  min-height: inherit;
  top: inherit;
  width: 100%;
}

.sige-financials-create > article > footer > div {
  height: 40px;
  margin: 10px 20px;
  padding-top: 15px;
  border-top: 1px solid #eee;
  color: #8d9aa5;
  text-align: center;
  font-size: 0.8em;
}

.sige-payments-create-method {
  padding: 10px 20px;
  margin: 20px;
}

.sige-payments-create-method form {
  margin: 0px;
}

.sige-payments-create-method form fieldset {
  margin: 5px;
}

.sige-payments-create-method li {
  margin: 3px 0px;
}

.sige-payments-create-method li.border {
  border-top: 1px solid #ffffff;
  margin-top: 5px;
  padding-top: 10px;
}

.sige-payments-create-method select {
  background: white;
}

.sige-payments-create-method input {
  background: white;
  text-align: center;
}

.sige-payments-create-method textarea {
  background: white;
  text-align: center;
  height: 80px;
  text-align: left;
  font-size: 1em;
}

.sige-payments-create-method p {
  font-size: 1em;
  line-height: 50px;
  text-align: left;
}

.sige-payments-create-method h3 {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.sige-payments-create-method button {
  margin: 10px auto;
}

