<ul class="display-horizontal col-100">
    <li class="col-20"></li>
    <li class="col-80">
        <section class="sige-turbo-export">
            <ul class="display-horizontal col-100 export">
                <li class="col-40 title">Exportar</li>
                <li class="col-15">
                    <a ng-click="export('preform','pdf')">
                        <img ng-src="{{ assets }}/img/modules/export_as_pdf.svg" alt="PDF">
                    </a>
                </li>
                <li class="col-15">
                    <a ng-click="export('invoice','pdf')">
                        <img ng-src="{{ assets }}/img/modules/export_as_pdf.svg" alt="PDF">
                    </a>
                </li>
                <li class="col-15">
                    <a ng-click="export('cash_receipt','pdf')">
                        <img ng-src="{{ assets }}/img/modules/export_as_pdf.svg" alt="PDF">
                    </a>
                </li>
                <li class="col-15">
                    <a ng-click="export('virtual_receipt','pdf')">
                        <img ng-src="{{ assets }}/img/modules/export_as_pdf.svg"  alt="PDF">
                    </a>
                </li>
            </ul>
            <ul ng-if="showDownload" class="display-horizontal col-100 download">
                <li class="col-100">
                    <a href="{{ download }}">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        Download
                    </a>
                </li>
            </ul>
        </section>
    </li>
</ul>