@import "core";

.sige-payments {
  width: 950px;
  margin: 0px auto;
}

.payments-header {
  > h1 {
    border: none;
    text-align: center;
    width: 100%;
    font: {
      size: 2em;
    }
  }
}

.payments-options {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
  background: white;
  > ul {
    margin: 0px auto;
    > li {
      img {
        cursor: pointer;
      }
      > span {
        display: block;
        font: {
          size: .8em;
        }
      ;
        color: #8d9aa5;
      }
    }
  }
}

.payment-container {
  position: relative;
  background: #f9fafa;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
  margin-top: 20px;
  > ul {
    > li {
      &.imagen {

      }
      &.body {
        padding: 20px;
        p {
          padding: 10px 0px;
          font: {
            size: 0.95em;
            family: $sige-font-family-05;
          }
          line-height: 14px;
        }
        form {
          margin: 10px 0px;
        }
        a {
          margin-top: 10px;
          color: $sige-global-color-05;
        }
        > .info_generic {
          > div {
            > span {
              font: {
                size: 0.85em;
              }
              padding-left: 5px;
            }
          }
        }
      }
    }
  }
}

.payments-gateway {
  position: relative;
  background: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
  min-height: 400px;
  margin-bottom: 20px;
  padding: 20px;
}

.payments-bank {
  position: relative;
  background: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
  min-height: 400px;
  margin-bottom: 20px;
  padding: 20px;
}

.payments-aspans {
  position: relative;
  background: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
  min-height: 400px;
  margin-bottom: 20px;
  padding: 20px;
}

@media screen and (max-width: 1000px) {

  .sige-payments {
    width: 100%;
    margin: 0px auto;
  }

}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 767px) {

  .payments-options {
    > ul {
      width: 70%;
    }
  }

  .payment-container {
    > ul {
      > li {
        &.imagen {
          width: 100%;
          text-align: center;
          > img {
            width: 40%;
          }
        }
        &.body {
          width: 100%;
          padding: 10px;
          h4 {
            font: {
              size: 1.3em;
            }
          }
          p {
            font: {
              size: 0.85em;
            }
          }
          a {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {

  .payments-options {
    > ul {
      width: 90%;
    }
  }

  .payment-container {
    > ul {
      > li {
        &.imagen {
          width: 100%;
          text-align: center;
          > img {
            width: 40%;
          }
        }
        &.body {
          width: 100%;
          padding: 10px;
          h4 {
            text-align: center;
            font: {
              size: 1.3em;
            }
          }
          p {
            font: {
              size: 0.85em;
            }
          }
          a {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 360px) {

  .payments-options {
    > ul {
      width: 90%;
    }
  }

  .payment-container {
    > ul {
      > li {
        &.imagen {
          width: 100%;
          text-align: center;
          > img {
            width: 40%;
          }
        }
        &.body {
          width: 100%;
          padding: 10px;
          h4 {
            text-align: center;
            font: {
              size: 1.4em;
            }
          }
          p {
            font: {
              size: 0.9em;
            }
          }
          a {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 359px) {

  .payments-options {
    > ul {
      width: 90%;
    }
  }

  .payment-container {
    > ul {
      > li {
        &.imagen {
          width: 100%;
          text-align: center;
          > img {
            width: 40%;
          }
        }
        &.body {
          width: 100%;
          padding: 10px;
          h4 {
            text-align: center;
            font: {
              size: 1.4em;
            }
          }
          p {
            font: {
              size: 0.9em;
            }
          }
          a {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 320px) {

  .payments-options {
    > ul {
      width: 90%;
    }
  }

  .payment-container {
    > ul {
      > li {
        &.imagen {
          width: 100%;
          text-align: center;
          > img {
            width: 40%;
          }
        }
        &.body {
          width: 100%;
          padding: 10px;
          h4 {
            font: {
              size: 1.3em;
            }
          }
          p {
            font: {
              size: 0.85em;
            }
          }
          a {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }

}
