@import "sigeturbo/core";


%status {
  width: 40px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 3px;
  font: {
    size: 0.9em;
  }
}


.status-1 {
  background: $sige-global-bgcolor-19;
  border-bottom: 3px solid $sige-global-bgcolor-20;
  @extend %status;
}

.status-2 {
  background: $sige-global-bgcolor-07;
  border-bottom: 3px solid $sige-global-bgcolor-08;
  @extend %status;
}

.status-3 {
  background: $sige-global-bgcolor-14;
  border-bottom: 3px solid $sige-global-bgcolor-13;
  @extend %status;
}

.status-4 {
  background: $sige-global-bgcolor-15;
  border-bottom: 3px solid $sige-global-bgcolor-16;
  @extend %status;
}

.status-5 {
  background: $sige-global-bgcolor-09;
  border-bottom: 3px solid $sige-global-bgcolor-10;
  @extend %status;
}

.sige-resources-purchase-register {
  margin-bottom: 20px;
  float: right;
  > a {
    > i {
      font: {
        size: 1.4em;
      }
    }
  }
}

.sige-purchases-lists {
  position: relative;
  margin-top: 40px;
  .search-container {
    float: right;
    margin-top: 10px;
    width: 50%;
    span {
      margin-bottom: 5px;
      font: {
        family: $sige-font-family-03;
        size: 0.9em;
      }
      color: $sige-global-color-04;
    }
    #search {
      position: relative;
      div.search {
        > input {
          padding: 7px;
          width: 100%;
        }
        i {
          position: absolute;
          width: 40px;
          right: 0px;
          text-align: center;
          background: #f5f5f5 linear-gradient(to bottom, #fff, #e6e6e6) repeat-x;
          border-width: 1px;
          border-color: #e6e6e6 #e6e6e6 #bfbfbf;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          border-bottom-color: #b3b3b3;
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          height: 35px;
          line-height: 35px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
      div.container {
        width: 100%;
        font: {
          size: 0.9em;
        }
        ul.search-options {
          border-bottom: 1px solid $sige-border-color-03;
          line-height: 50px;
          li {
            &.title {
              line-height: 50px;
            }
            &.text {
              > input {
                background: white;
                border-radius: 3px;
                border: 1px solid #C7CCD1;
                padding: 6px;
                font: {
                  size: 0.95em;
                }
              }
            }
          }
        }
      }
    }
    li#views {
      position: relative;
      top: 5px;
      > input[type="radio"] + label {
        width: 40px;
        padding: 2px 0px;
      }
    }
    #order {
      padding: 6px;
      width: 90%;
      appearance: none;
    }
    li#reverse {
      position: relative;
      top: 5px;
      > input[type="radio"] + label {
        width: 30px;
        padding: 2px 0px;
      }
    }
  }
}

.purchase-list {
  font: {
    size: 0.9em;
  }
  color: #8D9AA5;
}

.sige-purchase-main {
  border-bottom: 1px solid $sige-border-color-03;
  margin-bottom: 20px;
}

.status-purchase {
  width: 15%;
  float: right;
}

.purchase {
  border-bottom: 1px solid $sige-border-color-03;
  height: 60px;
  line-height: 60px;
  .photo {
    line-height: normal;
    margin-top: 5px;
    div {
      text-align: center;
      margin: 5px auto;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      padding: 3px;
      background-color: rgba($sige-global-bgcolor-03, 1);
      > img {
        border-radius: 50%;
      }
    }
  }
  .provider {
    div {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 10px;
    }
  }
  .employee {
    div {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .budget {
    div {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .leadtime {
    text-align: center;

  }
  .total {
    text-align: right;
    padding-right: 10px;
  }
  .edit {
    a {
      padding: 8px 18px;
      background-color: $sige-global-bgcolor-22 !important;
      border-radius: 3px;
      color: $sige-global-color-01;
    }
  }
}

.sige-purchase-evaluation {
  background: #f9fafa;
  margin: 20px 0px;
  padding: 15px 30px 15px 25px;
  overflow: hidden;
  clear: both;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font: {
    size: 1em;
  }
  position: relative;
  color: #8d9aa5;
  .evaluation {
    margin-top: 0px;
  }
  .total {
    position: absolute;
    right: 30px;
    top: 10px;
    font: {
      size: 1.5em;
    }
    &.bad {
      text-align: center;
      width: 100px;
      padding: 5px;
      border-radius: 5px;
      background: $sige-global-bgcolor-09;
      color: white;
      border-bottom: 3px solid $sige-global-bgcolor-10;
    }
    &.regular {
      text-align: center;
      width: 100px;
      padding: 5px;
      border-radius: 5px;
      background: $sige-global-bgcolor-12;
      color: white;
      border-bottom: 3px solid $sige-global-bgcolor-11;
    }
    &.good {
      text-align: center;
      width: 100px;
      padding: 5px;
      border-radius: 5px;
      background: $sige-global-bgcolor-14;
      color: white;
      border-bottom: 3px solid $sige-global-bgcolor-13;
    }
    &.excellent {
      text-align: center;
      width: 100px;
      padding: 5px;
      border-radius: 5px;
      background: $sige-global-bgcolor-07;
      color: white;
      border-bottom: 3px solid $sige-global-bgcolor-08;
    }
  }
  > ul {
    > li {
      > textarea {
        height: 60px;
        margin-bottom: 10px;
      }
      > input[type="text"] {
        width: 60px;
        text-align: center;
      }
      &.opportunity {
        line-height: 60px;
        text-align: right;
        label {
          padding-right: 5px;
          font: {
            size: 0.9em;
          }
        }
      }
      &.quality {
        line-height: 60px;
        text-align: right;
        label {
          padding-right: 5px;
          font: {
            size: 0.9em;
          }
        }
      }
      &.service {
        line-height: 60px;
        text-align: right;
        label {
          padding-right: 5px;
          font: {
            size: 0.9em;
          }
        }
      }
    }
  }
}

.sige-purchase-detail {
  margin-top: 30px;
  border-bottom: 1px solid $sige-border-color-03;
  .update {
    .item {
      width: 100%;
      background-color: $sige-global-bgcolor-21;
      line-height: 40px;
      text-align: right;
      float: right;
      padding-right: 10px;
      color: $sige-global-color-05;
      font: {
        size: 0.90em;
      }
      &:hover {
        color: $sige-global-color-07;
      }
    }
  }
  .new {
    background-color: $sige-global-bgcolor-21;
    border-radius: 5px;
    line-height: 30px;
  }
}

.detail {
  form {
    margin: 0px;
  }
}

.detail-info {
  font: {
    size: 0.9em;
  }
  .select {
    line-height: 40px;
  }
  .code {
    line-height: 40px;
    text-align: center;
    span {
      width: 100%;
    }
  }
  .unit {
    line-height: 40px;
    text-align: left;
    padding-left: 10px;
    span {
      width: 100%;
    }
  }
  .product {
    line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .quantity {
    line-height: 40px;
    input {
      text-align: center;
    }
  }
  .total {
    line-height: 40px;
    text-align: right;
    padding-right: 10px;
    span {
      width: 100%;
    }
  }
  .vat {
    line-height: 40px;
    text-align: center;
    span {
      width: 100%;
    }
  }
  .cost {
    line-height: 40px;
    text-align: center;
    span {
      width: 100%;
    }
  }
}

.sige-purchase-total {
  margin-top: 10px;
  font: {
    size: 0.9em;
  }
  .purchase-total {
    line-height: 15px;
    li {
      &.total {
        text-align: right;
        padding-right: 10px;
        span {
          float: right;
          width: 30%;
        }
      }
    }
  }
}

.sige-providers-lists {
  position: relative;
  margin-top: 40px;
  .search-container {
    float: right;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 50%;
    span {
      margin-bottom: 5px;
      font: {
        family: $sige-font-family-03;
        size: 0.9em;
      }
      color: $sige-global-color-04;
    }
    #search {
      position: relative;
      div.search {
        > input {
          padding: 7px;
          width: 100%;
        }
        i {
          position: absolute;
          width: 40px;
          right: 0px;
          text-align: center;
          background: #f5f5f5 linear-gradient(to bottom, #fff, #e6e6e6) repeat-x;
          border-width: 1px;
          border-color: #e6e6e6 #e6e6e6 #bfbfbf;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          border-bottom-color: #b3b3b3;
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          height: 35px;
          line-height: 35px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
      div.container {
        width: 100%;
        font: {
          size: 0.9em;
        }
        ul.search-options {
          border-bottom: 1px solid $sige-border-color-03;
          line-height: 50px;
          li {
            &.title {
              line-height: 50px;
            }
            &.text {
              > input {
                background: white;
                border-radius: 3px;
                border: 1px solid #C7CCD1;
                padding: 6px;
                font: {
                  size: 0.95em;
                }
              }
            }
          }
        }
      }
    }
    li#views {
      position: relative;
      top: 5px;
      > input[type="radio"] + label {
        width: 40px;
        padding: 2px 0px;
      }
    }
    #order {
      padding: 6px;
      width: 90%;
      appearance: none;
    }
    li#reverse {
      position: relative;
      top: 5px;
      > input[type="radio"] + label {
        width: 30px;
        padding: 2px 0px;
      }
    }
  }
}

.provider-list {
  font: {
    size: 0.9em;
  }
  color: #8D9AA5;
}

.provider {
  border-bottom: 1px solid $sige-border-color-03;
  height: 60px;
  line-height: 60px;
  .nit {
    div {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 10px;
      text-align: right;
      margin-right: 5px;
    }
  }
  .provider {
    div {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 10px;
    }
  }
  .contact {
    div {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 10px;
    }
  }
  .evaluation {
    div {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 10px;
      text-align: center;
      %evaluation {
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        display: block;
        line-height: 20px;
        width: 70px;
        margin-top: 10px;
      }
      > span.bad {
        background: $sige-global-bgcolor-09;
        border-bottom: 3px solid $sige-global-bgcolor-10;
        @extend %evaluation;
      }
      > span.regular {
        background: $sige-global-bgcolor-12;
        border-bottom: 3px solid $sige-global-bgcolor-11;
        @extend %evaluation;
      }
      > span.good {
        background: $sige-global-bgcolor-14;
        border-bottom: 3px solid $sige-global-bgcolor-13;
        @extend %evaluation;
      }
      > span.excellent {
        background: $sige-global-bgcolor-07;
        border-bottom: 3px solid $sige-global-bgcolor-08;
        @extend %evaluation;
      }
    }
  }
  .leadtime {
    div {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 10px;
      text-align: center;
    }
  }
  .warranty {
    div {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 10px;
      text-align: center;
    }
  }
  .edit {
    a {
      padding: 8px 18px;
      background-color: $sige-global-bgcolor-22 !important;
      border-radius: 3px;
      color: $sige-global-color-01;
    }
  }
}


.sige-provider-main {
  .evaluation-container {
    float: right;
  }
}

//*
//|-----------------------------------------------------------
//| Dashboard
//|-----------------------------------------------------------
//*/
.purchase-discount {
  font: {
    size: 1.5em;
    family: $sige-font-family-03;
  }
  color: $sige-global-color-04;
  text-align: center;
  .values {
    > ul {
      > li {
        padding: 10px;
        &:first-child {
          border-bottom: 1px solid $sige-border-color-02;
        }
      }
    }
  }
  .discount {
    vertical-align: middle;
    line-height: 100px;
    color: $sige-global-bgcolor-16;
    font: {
      size: 1.4em;
      family: $sige-font-family-03;
    }
  }
}

//*
//|-----------------------------------------------------------
//| Visitors
//|-----------------------------------------------------------
//*/

.sige-resources-visitor-register {
  margin-bottom: 20px;
  float: right;
  > a {
    > i {
      font: {
        size: 1.4em;
      }
    }
  }
}

.sige-visitors-lists {
  position: relative;
  margin-top: 40px;
  .search-container {
    float: right;
    margin-top: 10px;
    width: 50%;
    span {
      margin-bottom: 5px;
      font: {
        family: $sige-font-family-03;
        size: 0.9em;
      }
      color: $sige-global-color-04;
    }
    #search {
      position: relative;
      div.search {
        > input {
          padding: 7px;
          width: 100%;
        }
        i {
          position: absolute;
          width: 40px;
          right: 0px;
          text-align: center;
          background: #f5f5f5 linear-gradient(to bottom, #fff, #e6e6e6) repeat-x;
          border-width: 1px;
          border-color: #e6e6e6 #e6e6e6 #bfbfbf;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          border-bottom-color: #b3b3b3;
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          height: 35px;
          line-height: 35px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
      div.container {
        width: 100%;
        font: {
          size: 0.9em;
        }
        ul.search-options {
          border-bottom: 1px solid $sige-border-color-03;
          line-height: 50px;
          li {
            &.title {
              line-height: 50px;
            }
            &.text {
              > input {
                background: white;
                border-radius: 3px;
                border: 1px solid #C7CCD1;
                padding: 6px;
                font: {
                  size: 0.95em;
                }
              }
            }
          }
        }
      }
    }
    li#views {
      position: relative;
      top: 5px;
      > input[type="radio"] + label {
        width: 40px;
        padding: 2px 0px;
      }
    }
    #order {
      padding: 6px;
      width: 90%;
      appearance: none;
    }
    li#reverse {
      position: relative;
      top: 5px;
      > input[type="radio"] + label {
        width: 30px;
        padding: 2px 0px;
      }
    }
  }
}

.visitor-list {
  font: {
    size: 0.90em;
  }
  color: #8D9AA5;
  h4 {
    margin-top: 30px;
  }
}

.sige-visitor-main {
  border-bottom: 1px solid $sige-border-color-03;
  margin-bottom: 20px;
  .gender {
    line-height: 45px;
    font: {
      size: 0.9em;
    }
    color: #A9B3BB;
    input[type="radio"] {
      display: inline-block;
    }
  }
}

.status-visitortype {
  width: 20%;
  float: right;
}

.visitor-code {
  height: 150px;
  width: 100%;
  background: #E8EBED;
  color: white;
  float: right;
  border-radius: 10px;
  > input {
    line-height: 120px;
    border: none;
    background: none;
    color: $sige-global-bgcolor-03;
    width: 100%;
    text-align: center;
    font: {
      size: 4em;
      family: $sige-font-family-02;
    }
  }
}

.visitor {
  border-bottom: 1px solid $sige-border-color-03;
  height: 60px;
  line-height: 60px;
  .photo {
    margin-top: 5px;
    div {
      text-align: center;
      margin: 5px auto;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      padding: 3px;
      background-color: rgba($sige-global-bgcolor-03, 1);
      > img {
        border-radius: 50%;
      }
    }
  }
  .provider {
    div {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 10px;
    }
  }
  .name {
    div {
      width: 95%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .employee {
    div {
      width: 95%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .budget {
    div {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .leadtime {
    text-align: center;

  }
  .checkin {
    text-align: center;
    button {
      cursor: pointer;
      font: {
        size: 0.9em;
      }
      width: 100%;
      margin-top: 5px;
      i {
        position: absolute;
        margin-left: -12px;
        margin-top: 2px;
      }
      span.checkin {
        padding-left: 5px;
        position: relative;
        display: inline-block;
      }
      &.normal {
        background-color: $sige-global-bgcolor-07;
        border-bottom: 3px solid $sige-global-bgcolor-08;
      }
      &.checkin {
        background-color: $sige-global-bgcolor-09;
        border-bottom: 3px solid $sige-global-bgcolor-10;
      }
      &.checkout {
        background-color: $sige-global-bgcolor-14;
        border-bottom: 3px solid $sige-global-bgcolor-13;
        cursor: inherit;
      }
    }
  }
  .total {
    text-align: right;
    padding-right: 10px;
  }
  .edit {
    text-align: right;
    a {
      padding: 8px 22px;
      width: 120px;
      background: linear-gradient(to bottom, #fff, #e6e6e6) repeat-x #f5f5f5 !important;
      border-radius: 3px;
      color: $sige-global-color-01;
    }
  }
  .delete {
    text-align: right;
    form {
      padding: 0px;
      margin: 0px;
      > button {
        cursor: pointer;
        width: inherit;
        padding: 6px 22px;
        background: linear-gradient(to bottom, #fff, #e6e6e6) repeat-x #f5f5f5 !important;
        border-radius: 3px;
        color: $sige-global-color-01;
        font: {
          family: $sige-font-family-01;
        }
      }
    }
  }
}

//*
//|-----------------------------------------------------------
//| Assets
//|-----------------------------------------------------------
//*/

.sige-resources-asset-register {
  margin-bottom: 20px;
  float: right;
  > a {
    > i {
      font: {
        size: 1.4em;
      }
    }
  }
}

.sige-assets-lists {
  position: relative;
  margin-top: 40px;
  .search-container {
    float: right;
    margin-top: 10px;
    width: 50%;
    label {
      font: {
        family: $sige-font-family-04;
        size: 0.9em;
      }
      color: $sige-global-color-04;
      margin-right: 5px;
    }
    #search {
      position: relative;
      div.search {
        > input {
          padding: 7px;
          width: 100%;
        }
        > span {
          border: 2px solid $sige-border-color-03;
          padding: 5px 2px;
          width: 100%;
          display: inline-block;
          border-radius: 5px;
        }
        i {
          position: absolute;
          width: 40px;
          right: 0px;
          text-align: center;
          background: #f5f5f5;
          border-width: 1px;
          border-color: #e6e6e6 #e6e6e6 #bfbfbf;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          border-bottom-color: #b3b3b3;
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          height: 42px;
          line-height: 42px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
      div.container {
        width: 100%;
        font: {
          size: 0.9em;
        }
        ul.search-options {
          border-bottom: 1px solid $sige-border-color-03;
          line-height: 25px;
          li {
            &.title {
              line-height: 25px;
            }
            &.text {
              > input {
                background: white;
                border-radius: 3px;
                border: 1px solid #C7CCD1;
                padding: 6px;
                font: {
                  size: 1em;
                }
              }
              > select {
                background: white;
                border-radius: 3px;
                border: 1px solid #C7CCD1;
                padding: 6px;
                text-align: left;
                font: {
                  size: 1em;
                }
              }
              > button {
                width: 100px;
                padding: 8px 12px;
                margin: 15px 0px 10px;
              }
            }
          }
        }
      }
    }
    li#views {
      position: relative;
      top: 5px;
      > input[type="radio"] + label {
        width: 40px;
        padding: 2px 0px;
      }
    }
    #order {
      padding: 6px;
      width: 65%;
      -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
    }
    li#reverse {
      position: relative;
      top: 5px;
      > input[type="radio"] + label {
        width: 30px;
        padding: 2px 0px;
      }
    }
  }
}

.asset-list {
  margin-top: 10px;
  font: {
    size: 0.90em;
  }
  color: #8D9AA5;
  h4 {
    margin-top: 30px;
  }
}

.asset {
  &.is-verified {
    background: rgba($sige-global-bgcolor-07, 0.1);
    border-radius: 10px;
  }
  font: {
    size: 0.95em;
  }
  border-bottom: 1px solid $sige-border-color-03;
  height: 60px;
  line-height: 60px;
  .photo {
    margin-top: 5px;
    > div {
      margin: 0px auto;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      padding: 3px;
      background-color: rgba($sige-global-bgcolor-03, 1);
      > img {
        border-radius: 50%;
      }
    }

  }
  .verified {
    text-align: center;
  }
  .name {
    > div {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 10px;
      border-right: 1px dotted $sige-border-color-03;
    }
  }
  .cost {
    > div {
      text-align: right;
      padding-right: 10px;
    }
  }
  .ubication {
    > div {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 5px;
      padding-left: 5px;
    }
  }
  .verified {
    line-height: 60px;
    span.not-verified {
      background: $sige-global-bgcolor-10;
      padding: 10px;
      border-radius: 3px;
      &:after {
        content: "N";
        color: white;
      }
    }
    span.is-verified {
      padding: 10px;
      border-radius: 3px;
      background: $sige-global-bgcolor-07;
      &:after {
        content: "V";
        color: white;
      }
    }
  }
  .edit {
    text-align: right;
    margin-top: 10px;
    a {
      margin: 0px auto;
      padding: 4px;
      width: 50px;
      background: $sige-global-bgcolor-03;
      color: white;
      display: block;
      line-height: initial;
      text-align: center;
      font: {
        size: 1.8em;
      }
      border-radius: 5px;
    }
  }
  .delete {
    text-align: right;
    form {
      padding: 0px;
      margin: 0px;
      > button {
        padding: 4px;
        width: 50px;
        background: $sige-global-bgcolor-10;
        font: {
          family: $sige-font-family-01;
          size: 1.5em;
        }
      }
    }
  }
}

.sige-asset-main {
  .sige-asset-verified {
    height: 40px;
    width: 300px;
    font: {
      size: 0.9em;
    }
    float: right;
    label {
      width: 145px;
      text-align: center;
      display: inline-block;
      margin: -2px;
      padding: 8px 16px;
      margin-bottom: 0;
      font-size: 14px;
      line-height: 20px;
      color: $sige-global-color-01;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background: #f5f5f5;
      border: 1px solid #ccc;

      transition: all 0.3s ease;
      &.not-verified {
        background: $sige-global-bgcolor-10;
        color: white;
        border-radius: 3px;
      }
      input[type="radio"] {
        display: none;
        &:checked {

        }
      }
      span {
        transition: all 1s ease;
        font: {
          size: 1em;
        }
      }
    }
    > ul {
      > li.verified {
        width: 150px;
        padding: 10px;
        float: right;
        text-align: right;
        > span {
          padding: 12px 30px;
          border-radius: 3px;
          background: $sige-global-bgcolor-08;
          color: white;
        }
      }
    }

  }
}

.sige-inventories-verify-container {
  position: relative;
  background: #f9fafa;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  height: 700px;
  > article {
    > header {
      z-index: 1;
      > h2 {
        padding-top: 20px;
        border-bottom: none;
        text-align: center;
      }
      > img {
        margin: 0px auto;
        width: 180px;
        display: block;
      }
    }
    > section {
      > h2 {
        padding-top: 10px;
        border-bottom: none;
        text-align: center;
        color: $sige-global-color-04;
        font: {
          size: 2.1em;
        }
        > span {
          font: {
            size: 0.6em;
          }
          color: $sige-global-bgcolor-10;
        }
      }
      p {
        padding: 0px;
        text-align: center;
        font: {
          size: 0.85em;
        }
        &.inventory {
          margin: 8px;
          font: {
            size: 1.4em;
          }
        }
      }
      > form {
        margin: 0px auto;
        width: 50%;
        input {
          margin: 5px 0px;
        }
        select {
          margin: 5px 0px;
        }
        button {
          margin: 5px auto;
        }
      }
    }
    > footer {
      position: absolute;
      bottom: 5px;
      min-height: inherit;
      top: inherit;
      width: 100%;
      > div {
        height: 40px;
        margin: 10px 20px;
        padding-top: 15px;
        border-top: 1px solid $sige-border-color-03;
        color: $sige-global-color-04;
        text-align: center;
        font: {
          size: 0.8em;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 1100px) {

  .visitor {
    > li {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(7) {
        width: 15%;
        button {
          font: {
            size: 0.9em;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 1000px) {

  .sige-visitors-lists {
    .search-container {
      width: 70%;
      > ul {
        > li {
          &:nth-child(3) {
            width: 15%;
            text-align: right;
          }

        }
      }
    }
  }

  .visitor {
    > li {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(7) {
        width: 15%;
        button {
          font: {
            size: 0.9em;
          }
        }
      }
      &:nth-child(8) {
        order: 8;
        width: 15%;
      }
      &:nth-child(9) {
        order: 9;
        width: 15%;
      }
    }
  }

}

@media screen and (max-width: 768px) {

  .sige-visitors-lists {
    .search-container {
      width: 100%;
      > ul {
        > li {
          &:nth-child(1) {
            width: 45%;
          }
          &:nth-child(2) {
            width: 40%;
          }
          &:nth-child(3) {
            width: 15%;
            text-align: right;
            label {
              margin: 20px 0px;
            }
          }
          #search {
            width: 100%;
            padding: 10px;
          }
          #order {
            width: 100%;
            padding: 8px;
          }
          li#reverse {
            position: relative;
            top: 5px;
            > input[type="radio"] + label {
              width: 40px;
              padding: 10px 0px;
            }
          }
        }
      }
    }
  }

  .visitor {
    line-height: inherit;
    height: inherit;
    margin: 10px 0px;
    padding: 10px 6px;
    box-shadow: 0px 1px -1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font: {
      size: 1em;
    }
    background: #F6F6F6;
    > li {
      &:nth-child(1) {
        padding: 10px;
        width: 10%;
        order: 1;
        display: none;
      }
      &:nth-child(2) {
        padding: 10px;
        width: 3%;
        order: 2;
      }
      &:nth-child(3) {
        order: 5;
        width: 10%;
        background: $sige-border-color-03;
        padding: 10px;
        text-align: center;
        border-right: 1px dotted $sige-border-color-03;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        display: none;
      }
      &:nth-child(4) {
        order: 6;
        width: 10%;
        text-align: center;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        margin-top: 0px;
        div {
          margin: 0px auto;
        }
      }
      &:nth-child(5) {
        padding: 10px;
        order: 3;
        width: 17%;
        text-align: left;
      }
      &:nth-child(6) {
        padding: 10px;
        order: 4;
        width: 22%;
        text-align: left;
      }
      &:nth-child(7) {
        order: 7;
        width: 13%;
        button {
          font: {
            size: 0.9em;
          }
        }
      }
      &:nth-child(8) {
        order: 8;
        width: 50%;
        display: none;
      }
      &:nth-child(9) {
        order: 9;
        width: 50%;
        display: none;
      }
    }
  }

  .sige-dashboard-main {
    > section {
      > .sige-contained {
        padding: 30px 10px;
        .sige-dashboard {
          #main_dashboard {
            width: 100%;
          }
          #secondary_dashboard {
            width: 100%;
          }
        }
      }
    }
  }

  .purchase-discount {
    font-size: 1.2em;
  }

  .status-visitortype {
    width: 100%;
  }

  .sige-visitor-main {
    ul {
      > li {
        &.type {
          width: 100%;
        }
        &.identificationtype {
          width: 100%;
        }
        &.identification {
          width: 100%;
        }
        &.name {
          width: 100%;
        }
        &.gender {
          width: 100%;
          text-align: center;
        }
        &.licenseplate {
          width: 50%;
        }
        &.accesstype {
          width: 50%;
        }
        &.date {
          width: 50%;
        }
        &.time {
          width: 50%;
        }
        &.destination {
          width: 100%;
        }
      }
    }
  }

}

@media screen and (max-width: 480px) {

  .sige-visitors-lists {
    .search-container {
      width: 100%;
      > ul {
        > li {
          &:nth-child(1) {
            width: 100%;
          }
          &:nth-child(2) {
            width: 65%;
          }
          &:nth-child(3) {
            width: 35%;
            text-align: right;
            label {
              margin: 20px 0px;
            }
          }
          #search {
            width: 100%;
          }
          #order {
            width: 100%;
          }
        }
      }
    }
  }

  .visitor {
    line-height: inherit;
    height: inherit;
    margin: 10px 0px;
    padding: 10px 6px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font: {
      size: 1.1em;
    }
    > li {
      &:nth-child(1) {
        width: 10%;
        order: 1;
        display: none;
      }
      &:nth-child(2) {
        width: 15%;
        order: 2;
        display: none;
      }
      &:nth-child(3) {
        margin-top: 10px;
        order: 4;
        width: 50%;
        padding: 10px;
        text-align: center;
        border-right: 1px dotted $sige-border-color-03;
      }
      &:nth-child(4) {

      }
      &:nth-child(5) {
        order: 3;
        width: 100%;
        text-align: center;
      }
      &:nth-child(6) {
        order: 6;
        width: 100%;
        text-align: center;
      }
      &:nth-child(7) {
        order: 7;
        width: 100%;
        button {
          width: 100%;
        }
      }
      &:nth-child(8) {
        order: 8;
        width: 50%;
        display: none;
      }
      &:nth-child(9) {
        order: 9;
        width: 50%;
        display: none;
      }
    }
  }

  .sige-dashboard-main {
    > section {
      > .sige-contained {
        padding: 30px 10px;
        .sige-dashboard {
          #main_dashboard {
            width: 100%;
          }
          #secondary_dashboard {
            width: 100%;
          }
        }
      }
    }
  }

  .purchase-discount {
    font-size: 1.2em;
  }

  .status-visitortype {
    width: 100%;
  }

  .sige-visitor-main {
    ul {
      > li {
        &.type {
          width: 100%;
        }
        &.identificationtype {
          width: 100%;
        }
        &.identification {
          width: 100%;
        }
        &.name {
          width: 100%;
        }
        &.gender {
          width: 100%;
          text-align: center;
        }
        &.licenseplate {
          width: 50%;
        }
        &.accesstype {
          width: 50%;
        }
        &.date {
          width: 50%;
        }
        &.time {
          width: 50%;
        }
        &.destination {
          width: 100%;
        }
      }
    }
  }

}

@media screen and (max-width: 360px) {

  .sige-visitors-lists {
    .search-container {
      width: 100%;
      > ul {
        > li {
          &:nth-child(1) {
            width: 100%;
          }
          &:nth-child(2) {
            width: 65%;
          }
          &:nth-child(3) {
            width: 35%;
            text-align: right;
            label {
              margin: 20px 0px;
            }
          }
          #search {
            width: 100%;
          }
          #order {
            width: 100%;
          }
        }
      }
    }
  }

  .visitor {
    line-height: inherit;
    height: inherit;
    margin: 10px 0px;
    padding: 10px 6px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font: {
      size: 1.1em;
    }
    > li {
      &:nth-child(1) {
        width: 10%;
        order: 1;
        display: none;
      }
      &:nth-child(2) {
        width: 15%;
        order: 2;
        display: none;
      }
      &:nth-child(3) {
        margin-top: 10px;
        order: 4;
        width: 50%;
        padding: 10px;
        text-align: center;
        border-right: 1px dotted $sige-border-color-03;
      }
      &:nth-child(4) {

      }
      &:nth-child(5) {
        order: 3;
        width: 100%;
        text-align: center;
      }
      &:nth-child(6) {
        order: 6;
        width: 100%;
        text-align: center;
      }
      &:nth-child(7) {
        order: 7;
        width: 100%;
        button {
          width: 100%;
        }
      }
      &:nth-child(8) {
        order: 8;
        width: 50%;
        display: none;
      }
      &:nth-child(9) {
        order: 9;
        width: 50%;
        display: none;
      }
    }
  }

  .sige-dashboard-main {
    > section {
      > .sige-contained {
        padding: 30px 10px;
        .sige-dashboard {
          #main_dashboard {
            width: 100%;
          }
          #secondary_dashboard {
            width: 100%;
          }
        }
      }
    }
  }

  .purchase-discount {
    font-size: 1.2em;
  }

  .status-visitortype {
    width: 100%;
  }

  .sige-visitor-main {
    ul {
      > li {
        &.type {
          width: 100%;
        }
        &.identificationtype {
          width: 100%;
        }
        &.identification {
          width: 100%;
        }
        &.name {
          width: 100%;
        }
        &.gender {
          width: 100%;
          text-align: center;
        }
        &.licenseplate {
          width: 50%;
        }
        &.accesstype {
          width: 50%;
        }
        &.date {
          width: 50%;
        }
        &.time {
          width: 50%;
        }
        &.destination {
          width: 100%;
        }
      }
    }
  }

}

@media screen and (max-width: 359px) {

  .sige-visitors-lists {
    .search-container {
      width: 100%;
      > ul {
        > li {
          &:nth-child(1) {
            width: 100%;
          }
          &:nth-child(2) {
            width: 65%;
          }
          &:nth-child(3) {
            width: 35%;
            text-align: right;
            label {
              margin: 20px 0px;
            }
          }
          #search {
            width: 100%;
          }
          #order {
            width: 100%;
          }
        }
      }
    }
  }

  .visitor {
    line-height: inherit;
    height: inherit;
    margin: 10px 0px;
    padding: 10px 6px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font: {
      size: 1.1em;
    }
    > li {
      &:nth-child(1) {
        width: 10%;
        order: 1;
        display: none;
      }
      &:nth-child(2) {
        width: 15%;
        order: 2;
        display: none;
      }
      &:nth-child(3) {
        margin-top: 10px;
        order: 4;
        width: 50%;
        padding: 10px;
        text-align: center;
        border-right: 1px dotted $sige-border-color-03;
      }
      &:nth-child(4) {

      }
      &:nth-child(5) {
        order: 3;
        width: 100%;
        text-align: center;
      }
      &:nth-child(6) {
        order: 6;
        width: 100%;
        text-align: center;
      }
      &:nth-child(7) {
        order: 7;
        width: 100%;
        button {
          width: 100%;
        }
      }
      &:nth-child(8) {
        order: 8;
        width: 50%;
        display: none;
      }
      &:nth-child(9) {
        order: 9;
        width: 50%;
        display: none;
      }
    }
  }

  .sige-dashboard-main {
    > section {
      > .sige-contained {
        padding: 30px 10px;
        .sige-dashboard {
          #main_dashboard {
            width: 100%;
          }
          #secondary_dashboard {
            width: 100%;
          }
        }
      }
    }
  }

  .purchase-discount {
    font-size: 1.2em;
  }

  .status-visitortype {
    width: 100%;
  }

  .sige-visitor-main {
    ul {
      > li {
        &.type {
          width: 100%;
        }
        &.identificationtype {
          width: 100%;
        }
        &.identification {
          width: 100%;
        }
        &.name {
          width: 100%;
        }
        &.gender {
          width: 100%;
          text-align: center;
        }
        &.licenseplate {
          width: 50%;
        }
        &.accesstype {
          width: 50%;
        }
        &.date {
          width: 50%;
        }
        &.time {
          width: 50%;
        }
        &.destination {
          width: 100%;
        }
      }
    }
  }

}