<section class="votesTNS-Personero">
	<h3>Personero</h3>
	<div id="votesTNS-Personero-Show" style="display:block">
		<ul id="votesTNS-Personero">
			<li>
				<!--<a ng-click="send(2013093)" data-user="2013093" data-type="1">-->
				<a href="iduser=2013093" data-user="2013093" data-type="1">
					<img class="N3" src="https://294347513a062ec6e0b6-8f8f94440e741fa4111c4d620d6f574f.ssl.cf5.rackcdn.com/img/users/ecddf7f927b58fb4dc4ab4d3f128fc73466a555a.jpg" style="width:120px;height:120px;" alt="Yara Karina El Zein Yepes">
					<p style="margin-top:-20px;background-color:#000;width:120px;">Yara El Zein</p>
				</a>
			</li>
			<li>
				<!--<a ng-click="send(2015085)" data-user="2015085" data-type="1">-->
				<a href="iduser=2015085" data-user="2015085" data-type="1">
					<img class="N3" src="https://294347513a062ec6e0b6-8f8f94440e741fa4111c4d620d6f574f.ssl.cf5.rackcdn.com/img/users/65f0c28e4c07df5e3f9d616d523df73fe93b81ae.jpg" style="width:120px;height:120px;" alt="Manuel Blair Arango">
					<p style="margin-top:-20px;background-color:#000;width:120px;">Manuel Blair</p>
				</a>
			</li>
			<li>
				<!--<a ng-click="send(300)" data-user="300" data-type="1">-->
				<a href="iduser=300" data-user="300" data-type="1">
					<img class="N3" src="https://294347513a062ec6e0b6-8f8f94440e741fa4111c4d620d6f574f.ssl.cf5.rackcdn.com/img/users/guest.png" style="width:120px;height:120px;" alt="Voto en Blanco">
					<p style="margin-top:-20px;background-color:#000;width:120px;">Voto en Blanco</p>
				</a>
			</li>
		</ul>
	</div>
	<div id="votesTNS-Personero-Message" style="display:none;overflow: hidden;background-color: #4cae50;height: 40px;font-size: 2em;font-family: inherit;color: #fff;"></div>
</section>