<section class="sige-academic-container">
    <ul class="display-horizontal col-100">
        <li class="col-20 gutter-5">
            <label class="select-arrow" for="idyear">
                <select id="idyear" name="idyear" ng-model="academic.year" ng-options="year.idyear as year.name for year in years" required></select>
            </label>
        </li>
        <li class="col-20 gutter-5">
            <label class="select-arrow" for="idperiod">
                <select id="idperiod" name="idperiod" ng-model="academic.period" ng-options="period.idperiod as period.name for period in periods" required></select>
            </label>
        </li>
        <li class="col-20 gutter-5">
            <label class="select-arrow" for="idgroup">
                <select id="idgroup" name="idgroup" ng-model="academic.group" ng-options="group.idgroup as group.name for group in groups" ng-change="changeGroup(academic.group)" required>
                    <option value="">Grupo</option>
                </select>
            </label>
        </li>
        <li class="col-20 gutter-5">
            <label class="select-arrow" for="idsubject">
                <select ng-disabled="subjectEnable" id="idsubject" name="idsubject" ng-model="academic.subject" ng-options="subject.idsubject as subject.name for subject in subjects" required>
                    <option value="">Asignatura</option>
                </select>
            </label>
        </li>
        <li class="col-20 gutter-5">
            <label class="select-arrow" for="idnivel">
                <select id="idnivel" name="idnivel" ng-model="academic.nivel" ng-options="nivel.idnivel as nivel.name for nivel in nivels" required>
                    <option value="">Nivel</option>
                </select>
            </label>
        </li>
    </ul>
</section>