<div class="grid-100 sige-academic">
    <div class="sige-contained" id="academic">
        <h4>Académico</h4>
        <section class="academic">
            <form name="academicForm" ng-submit="searching()">
                <ul class="display-horizontal col-50">
                    <li class="col-50 gutter-5">
                        <label class="select-arrow" for="idyear">
                            <select id="idyear" name="idyear" ng-model="academic.year" ng-options="year.idyear as year.name for year in years">
                                <option value="0">Año</option>
                            </select>
                        </label>
                    </li>
                    <li class="col-50 gutter-5">
                        <label class="select-arrow" for="idgroup">
                            <select id="idgroup" name="idgroup" ng-model="academic.group" ng-options="group.idgroup as group.name for group in groups">
                                <option value="0">Grupo</option>
                            </select>
                        </label>
                    </li>
                    <li class="button gutter-5">
                        <button id="search" type="submit" class="btn btn-aquamarine" ng-disabled="buttonSearchEnable">Buscar</button>
                    </li>
                </ul>
            </form>
            <a href="#" id="show_academic_info"><i class="fa fa-info-circle"></i><span>Help</span></a>
        </section>
        <section class="info" style="display:none">
            <a class="icon icon-info" href="#"></a>
            <p>Seleccione las opciones correspondientes al <strong>año y grupo</strong> que desea evaluar
            </p>
        </section>
    </div>
</div>