<ul style="width:100%"  ng-controller="AcademicManagementController">
    <li style="width:100%;border-bottom: 1px solid #CCCCCC;">
        <ul style="font-size: 0.9em;width:100%;display: -ms-flexbox;display: flex;-ms-flex-direction: row;flex-direction: row;-ms-flex-pack: start;justify-content: flex-start;-ms-flex-flow: row wrap;flex-flow: row wrap;">
            <li style="width:10%">
                <div>Calendario</div>
            </li>
            <li style="width:15%">
                <div>Periodo</div>
            </li>
            <li style="width:10%">
                <div>Inicio</div>
            </li>
            <li style="width:10%">
                <div>Finalización</div>
            </li>
            <li style="width:20%">
                <div>Fecha máxima para calificar</div>
            </li>
            <li style="width:10%">
                <div>Revisión</div>
            </li>
            <li style="width:10%">
                <div>Impresión</div>
            </li>
            <li style="width:15%;padding:2px;">
                <div style="width:50%;float: left;">Acciones</div>
                <div style="width:50%;float: right;"><button class="btn btn-green" style="padding: 4px 12px;width: 80px;" id="showmonitoringtype"  ng-click="form(academic,'AcademicController')">
                    <i class="fa fa-plus-circle"></i> Nuevo
                </button></div>
            </li>
        </ul>
    </li>  
    <li style="width:100%;border-bottom: 1px solid #CCCCCC;" data-ng-animate="'repeat'" ng-repeat="academic in academics">
        <ul style="font-size: 0.8em;width:100%;display: -ms-flexbox;display: flex;-ms-flex-direction: row;flex-direction: row;-ms-flex-pack: start;justify-content: flex-start;-ms-flex-flow: row wrap;flex-flow: row wrap;">
            <li style="width:10%">
                <div>{{academic.calendar}}</div>
            </li>
            <li style="width:15%">
                <div>{{academic.period}}</div>
            </li>
            <li style="width:10%">
                <div>{{academic.starts}}</div>
            </li>
            <li style="width:10%">
                <div>{{academic.ends}}</div>
            </li>
            <li style="width:20%">
                <div>{{academic.rating}}</div>
            </li>
            <li style="width:10%">
                <div>{{academic.review}}</div>
            </li>
            <li style="width:10%">
                <div>{{academic.print}}</div>
            </li>
            <li style="width:8%;padding:2px;">
                <button type="button" ng-click="edit(academic,'AcademicController')" class="btn btn-aquamarine" style="padding: 4px 15px;width: 75px;">
                    <i class="fa fa-pencil-square" aria-hidden="true"></i> Editar
                </button>
            </li>
            <li style="width:7%;padding:2px;">
                <button class="option option-red" ng-click="deleteregistry(academic.idacademic)" style="padding: 4px 14px;width: 75px;">
                        <i class="fa fa-trash-o" aria-hidden="true"></i> Borrar
                </button>
            </li>
        </ul>
    </li>                     
</ul>