<ul style="width:100%">
	<li style="width:100%;border-bottom: 1px solid #CCCCCC;font-size: 0.9em;" ng-init="total = 0">
        <ul style="width:100%;display: -ms-flexbox;display: flex;-ms-flex-direction: row;flex-direction: row;-ms-flex-pack: start;justify-content: flex-start;-ms-flex-flow: row wrap;flex-flow: row wrap;">
            <li style="width:50%;text-align: center;">
                Profesor
            </li>
            <li style="width:20%;text-align: center;">
                Grupo
            </li>
            <li style="width:25%;text-align: center;">
                Asignatura
            </li>
            <li style="width:5%;text-align: center;">
                Total
            </li>
        </ul>
    </li>  
    <li style="font-size: 0.8em;width:100%;border-bottom: 1px solid #CCCCCC;" data-ng-animate="'repeat'" ng-repeat="summary in summaries">
        <ul style="width:100%;display: -ms-flexbox;display: flex;-ms-flex-direction: row;flex-direction: row;-ms-flex-pack: start;justify-content: flex-start;-ms-flex-flow: row wrap;flex-flow: row wrap;">
            <li style="width:50%;font-size: {{ (summary.teachers.length <= 54) ? 1 : 0.9 }}em;">
                {{ summary.teachers }}
            </li>
            <li style="width:20%;text-align: center;">
                <div>{{summary.Groups}}</div>
            </li>
            <li style="width:25%;font-size: {{ (summary.Subject.length <= 40) ? 1 : 0.8 }}em;">
                <div>{{summary.Subject}}</div>
            </li>
            <li style="width:5%;text-align: center;" ng-init="$parent.total = $parent.total + summary.count">
                <div>{{summary.count}}</div>
            </li>
        </ul>
    </li> 
    <li style="font-size: 0.8em;width:100%;border-bottom: 1px solid #CCCCCC;">
        <ul style="width:100%;display: -ms-flexbox;display: flex;-ms-flex-direction: row;flex-direction: row;-ms-flex-pack: start;justify-content: flex-start;-ms-flex-flow: row wrap;flex-flow: row wrap;">
            <li style="width:95%;text-align: center;">
                Total de Registros pendientes a ingresar :
            </li>
            <li style="width:5%;text-align: center;">
                <div>{{ total }}</div>
            </li>
        </ul>
    </li >                    
</ul>