<section style="position: relative" id="search" class="search">
    <div class="search">
        <span id="container_search" ng-click="searchForm()">
            <sige-turbo-search-tags tags="search"></sige-turbo-search-tags>
        </span>
        <i class="fa fa-search" onclick="this.form.submit()"></i>
    </div>
    <div class="container sige-search-container" ng-if="showSearch">
        <ul class="display-horizontal col-100 search-options">
            <li class="col-100">
                <ul class="display-horizontal col-100">
                    <li class="col-20 gutter-3 title">
                        <label for="search_code">Código</label>
                    </li>
                    <li class="col-30 gutter-3 text">
                        <input id="search_code" name="search_code" type="text" ng-model="search.code">
                    </li>
                    <li class="col-20 gutter-3 title">
                        <label for="search_celular">Celular</label>
                    </li>
                    <li class="col-30 gutter-3 text">
                        <input id="search_celular" name="search_celular" type="text" ng-model="search.celular">
                    </li>
                </ul>
                <ul class="display-horizontal col-100">
                    <li class="col-20 gutter-3 title">
                        <label for="search_firstname">Nombre</label>
                    </li>
                    <li class="col-80 gutter-3 text">
                        <input id="search_firstname" name="search_firstname" type="text" ng-model="search.firstname">
                    </li>
                </ul>
                <ul class="display-horizontal col-100">
                    <li class="col-20 gutter-3 title">
                        <label for="search_lastname">Apellido</label>
                    </li>
                    <li class="col-80 gutter-3 text">
                        <input id="search_lastname" name="search_lastname" type="text" ng-model="search.lastname">
                    </li>
                </ul>
                <ul class="display-horizontal col-100">
                    <li class="col-100 gutter-3 text">
                        <select multiple size="2" style="text-align: left" id="search_category" name="search_category"
                                ng-model="search.category"
                                ng-options="category.idcategory as category.name for category in categories" required>
                        </select>
                    </li>
                </ul>
                <ul class="display-horizontal col-100">
                    <li class="col-100 text">
                        <button type="submit" class="btn btn-aquamarine">Search</button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>