<span class="{{ confirmed | infoConfirmed }}" ng-click="verifyCelular()"><i class="fa fa-mobile" aria-hidden="true"></i></span>
<input type="text" ng-model="ngModel" placeholder="Celular" required="true" ng-disabled="celularEnable"/>
<section class="contextual-verify" ng-if="showForm">
    <header>
        <span class="icon fa fa-mobile" aria-hidden="true"></span>
        <h4>Método Verificación</h4>
        <div class="close" ng-click="close()">
            <span class="fa fa-times" aria-hidden="true"></span>
        </div>
    </header>
    <section class="methods">
        <section class="method">
            <h6>MÉTODO 1</h6>
            <ul class="display-horizontal col-100">
                <li class="col-45">Mensaje Texto - <a class="{{ celularSendEnable | enableElement }}" style="cursor:pointer" ng-click="sendCelularMessage()">Enviar</a></li>
                <li class="col-30">
                    <input type="text" ng-model="data.passcode" placeholder="Passcode">
                </li>
                <li class="col-25">
                    <button type="button" class="btn btn-green" ng-click="saveCelularByPasscode()">Save</button>
                </li>
            </ul>
        </section>
        <section class="method">
            <h6>MÉTODO 2</h6>
            <ul class="display-horizontal col-100">
                <li class="col-75">¿Certifica que este celular es válido?</li>
                <li class="col-25">
                    <button type="button" class="btn btn-green" ng-click="saveCelularByCertification()">Si</button>
                </li>
            </ul>
        </section>
    </section>
</section>
