<i class="fa fa-envelope {{ confirmed | infoConfirmed }}" aria-hidden="true" ng-click="verifyEmail()"></i>
<input type="text" ng-model="ngModel" placeholder="Email" required="true" ng-disabled="emailEnable"/>
<section class="contextual-verify" ng-if="showForm">
    <header>
        <span class="icon fa fa-envelope" aria-hidden="true"></span>
        <h4>Método Verificación</h4>
        <div class="close" ng-click="close()">
            <span class="fa fa-times" aria-hidden="true"></span>
        </div>
    </header>
    <section class="methods">
        <section class="method">
            <h6>MÉTODO 1</h6>
            <ul class="display-horizontal col-100">
                <li class="col-45">Mensaje Correo - <a style="cursor:pointer" ng-click="sendEmailMessage()">Enviar</a></li>
                <li class="col-30">
                    <input type="text" ng-model="data.passcode" placeholder="Passcode">
                </li>
                <li class="col-25">
                    <button type="button" class="btn btn-green" ng-click="saveEmailByPasscode()">Save</button>
                </li>
            </ul>
        </section>
        <section class="method">
            <h6>MÉTODO 2</h6>
            <ul class="display-horizontal col-100">
                <li class="col-75">¿Certifica que este email es válido?</li>
                <li class="col-25">
                    <button type="button" class="btn btn-green" ng-click="saveEmailByCertification()">Si</button>
                </li>
            </ul>
        </section>
    </section>
</section>